%% -*- mode: erlang -*-
[   {rpc_test, []},
    {gen_java, [
     {modules, [
         {my_java, [
             {jar, "priv/gen_java.jar"},
             {thread_count, 10}
                        ]}
               ]}
            ]},
    {gen_haskell, [
     {modules, [
         {my_haskell, [
             {hs, "Node"}
                        ]}
               ]}
            ]}
].